<!-- Begin Header Area -->
<header class="li-header-4">
  <!-- Begin Header Top Area -->
  <div class="header-top">
    <div class="container">
      <div class="row">
        <!-- Begin Header Top Left Area -->
        <div class="col-lg-3 col-md-4">
          <div class="header-top-left">
            <ul class="phone-wrap">
              <li><span>Liên hệ: </span><a href="#">(+84) 90 712 8460</a></li>
            </ul>
          </div>
        </div>
        <!-- Header Top Left Area End Here -->
        <!-- Begin Header Top Right Area -->
        <div class="col-lg-9 col-md-8">
          <div class="header-top-right">
            <ul class="ht-menu">
              <!-- Begin Setting Area -->
              {{#if authenticated}}
              {{>headerTopAuthenticated}}
              {{else}}
              {{>headerTopUnauthenticated}}
              {{/if}}
              <!-- Setting Area End Here -->
            </ul>
          </div>
        </div>
        <!-- Header Top Right Area End Here -->
      </div>
    </div>
  </div>
  <!-- Header Top Area End Here -->
  <!-- Begin Header Middle Area -->
  <div class="header-middle pl-sm-0 pr-sm-0 pl-xs-0 pr-xs-0">
    <div class="container">
      <div class="row">
        <!-- Begin Header Logo Area -->
        <div class="col-lg-3">
          <div class="logo pb-sm-30 pb-xs-30">
            <a href="/">
              <img src="/images/menu/logo/2.jpg" alt="">
            </a>
          </div>
        </div>
        <!-- Header Logo Area End Here -->
        <!-- Begin Header Middle Right Area -->
        <div class="col-lg-9 pl-0 ml-sm-15 ml-xs-15">
          <!-- Begin Header Middle Searchbox Area -->
          <form action="#" class="hm-searchbox">
            <select class="nice-select select-search-category">
              <option value="0">Tất cả</option>
              <option value="10">Thiết bị điện tử</option>
              <option value="17">- - Điện thoại</option>
              <option value="20">- - Máy tính bảng</option>
              <option value="21">- - Laptop</option>
              <option value="22">- - Máy tính để bàn</option>
              <option value="23">- - Âm thanh</option>
              <option value="24">- - Camera giám sát</option>
              <option value="25">- - Máy ảnh kỹ thuật số</option>
              <option value="26">- - Máy quay phim</option>
              <option value="27">- - Màn hình máy tính</option>
              <option value="28">- - Máy in</option>
              <option value="18">- - Đồng hồ thông minh</option>
              <option value="29">- - Máy chơi game</option>
              <option value="30">Phụ kiện điện tử</option>
              <option value="31">- - Phụ kiện di động</option>
              <option value="32">- - Thiết bị thông minh</option>
              <option value="33">- - Thiết bị số</option>
              <option value="34">- - Phụ kiện máy ảnh</option>
              <option value="35">- - Thiết bị lưu trữ</option>
              <option value="36">- - Phụ kiện máy tính</option>
              <option value="19">- - Linh kiện máy tính</option>
              <option value="37">- - Phụ kiện ống kính</option>
              <option value="38">- - Thiết bị mạng</option>
              <option value="39">- - Phụ kiện máy chơi game</option>
              <option value="40">TV &amp; Thiết bị gia dụng</option>
              <option value="41">- - TV thông minh</option>
              <option value="11">- - TV kỹ thuật số</option>
              <option value="42">- - TV thông minh</option>
              <option value="45">- - Thiết bị điện</option>
              <option value="47">- - Thiết bị gia dụng nhỏ</option>
              <option value="48">- - Thiết bị gia dụng lớn</option>
            </select>
            <input type="text" placeholder="Tìm kiếm sản phẩm ...">
            <button class="li-btn" type="submit"><i class="fa fa-search"></i></button>
          </form>
          <!-- Header Middle Searchbox Area End Here -->
          <!-- Begin Header Middle Right Area -->
          <div class="header-middle-right">
            <ul class="hm-menu">
              <!-- Begin Header Middle Wishlist Area -->
              <li class="hm-wishlist">
                <a href="/wishlist">
                  {{!-- <span class="cart-item-count wishlist-item-count">0</span> --}}
                  <i class="fa fa-heart-o"></i>
                </a>
              </li>
              <!-- Header Middle Wishlist Area End Here -->
              <!-- Begin Header Mini Cart Area -->
              <li class="hm-minicart">
                <div class="hm-minicart-trigger">
                  <span class="item-icon"></span>
                  <span class="item-text">10.096.000₫
                    {{!-- <span class="cart-item-count">2</span> --}}
                  </span>
                </div>
                <span></span>
                <div class="minicart">
                  <ul class="minicart-product-list">
                    <li>
                      <a href="/single-product" class="minicart-product-image">
                        <img src="/images/product/small-size/1.jpg" alt="cart products">
                      </a>
                      <div class="minicart-product-details">
                        <h6><a href="/single-product">Smart Tivi Samsung 55 inch 4K UHD L55P65-UF -
                            Hàng Chính Hãng</a></h6>
                        <span>9.290.000₫ x1</span>
                      </div>
                      <button class="close">
                        <i class="fa fa-close"></i>
                      </button>
                    </li>
                    <li>
                      <a href="/single-product" class="minicart-product-image">
                        <img src="/images/product/small-size/2.jpg" alt="cart products">
                      </a>
                      <div class="minicart-product-details">
                        <h6><a href="/single-product">Camera IP Mi Home 360 Độ 1080P Xiaomi
                            QDJ4041GL Trắng</a></h6>
                        <span>806.000₫ x1</span>
                      </div>
                      <button class="close">
                        <i class="fa fa-close"></i>
                      </button>
                    </li>
                  </ul>
                  <p class="minicart-total">TỔNG CỘNG: <span>10.096.000₫</span></p>
                  <div class="minicart-button">
                    <a href="/shopping-cart" class="li-button li-button-dark li-button-fullwidth li-button-sm">
                      <span>Xem giỏ hàng</span>
                    </a>
                    <a href="/checkout" class="li-button li-button-fullwidth li-button-sm">
                      <span>Phương thức thanh toán</span>
                    </a>
                  </div>
                </div>
              </li>
              <!-- Header Mini Cart Area End Here -->
            </ul>
          </div>
          <!-- Header Middle Right Area End Here -->
        </div>
        <!-- Header Middle Right Area End Here -->
      </div>
    </div>
  </div>
  <!-- Header Middle Area End Here -->
  <!-- Begin Header Bottom Area -->
  <div class="header-bottom header-sticky stick d-none d-lg-block d-xl-block">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <!-- Begin Header Bottom Menu Area -->
          <div class="hb-menu">
            <nav>
              <ul>
                <li><a href="/">Trang chủ</a></li>
                <li><a href="/products">Sản phẩm</a>
                </li>
                <li class="megamenu-holder"><a href="/">Chức năng</a>
                  <ul class="megamenu hb-megamenu">
                    <li><a href="/">Quản lý tài khoản</a>
                      <ul>
                        <li><a href="/login">Tài khoản của tôi</a></li>
                        <li><a href="/checkout">Phương thức thanh toán</a></li>
                        <li><a href="/compare">So sánh sản phẩm</a></li>
                        <li><a href="/wishlist">Danh sách yêu thích</a></li>
                        <li><a href="/history">Lịch sử giao dịch</a></li>
                        <li><a href="/shopping-cart">Giỏ hàng</a></li>
                      </ul>
                    </li>
                    <li><a href="/">Đóng góp ý kiến</a>
                      <ul>
                        <li><a href="/contact">Liên hệ BQT</a></li>
                        <li><a href="/about-us">Thông tin chi tiết</a></li>
                        <li><a href="/faq">Câu hỏi thường gặp</a></li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li><a href="/about-us">Thông tin</a></li>
                <li><a href="/contact">Liên hệ</a></li>
              </ul>
            </nav>
          </div>
          <!-- Header Bottom Menu Area End Here -->
        </div>
      </div>
    </div>
  </div>
  <!-- Header Bottom Area End Here -->

  <!-- Begin Mobile Menu Area -->
  <div class="mobile-menu-area mobile-menu-area-4 d-lg-none d-xl-none col-12">
    <div class="container">
      <div class="row">
        <div class="mobile-menu">
        </div>
      </div>
    </div>
  </div>
  <!-- Mobile Menu Area End Here -->
</header>
<!-- Header Area End Here -->