<!--Wishlist Area Strat-->
<div class="wishlist-area pt-60 pb-60">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <form action="#">
          <div class="table-content table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th class="li-product-thumbnail">Hình ảnh</th>
                  <th class="cart-product-name">Sản phẩm</th>
                  <th class="li-product-price">Giá</th>
                  <th class="li-product-stock-status">Tình trạng</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="li-product-thumbnail"><a href="#"><img src="images/wishlist-thumb/1.jpg" alt=""></a></td>
                  <td class="li-product-name"><a href="#">Iphone 11 Pro Max</a></td>
                  <td class="li-product-price"><span class="amount">31.389.000đ</span></td>
                  <td class="li-product-stock-status"><span class="delivery">Đang vận chuyển</span></td>
                </tr>
                <tr>
                  <td class="li-product-thumbnail"><a href="#"><img src="images/wishlist-thumb/2.jpg" alt=""></a></td>
                  <td class="li-product-name"><a href="#">Macbook Pro 2019</a></td>
                  <td class="li-product-price"><span class="amount">59.489.000đ</span></td>
                  <td class="li-product-stock-status"><span class="delivered">Đã nhận hàng</span>
                    <p>(20/07/2019)</p>
                  </td>
                </tr>
                <tr>
                  <td class="li-product-thumbnail"><a href="#"><img src="images/wishlist-thumb/3.jpg" alt=""></a></td>
                  <td class="li-product-name"><a href="#">Ipad Pro 2019</a></td>
                  <td class="li-product-price"><span class="amount">39.559.000đ</span></td>
                  <td class="li-product-stock-status"><span class="cancelled">Giao dịch bị hủy</span>
                    <p>(20/07/2017)</p>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!--Wishlist Area End-->