<!-- Begin Login Content Area -->
<div class="page-section mb-60">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-6 col-xs-12 container">
        <form id="register-form" action="/register" method="POST">
          <div class="login-form">
            <h4 class="login-title">Đăng ký</h4>
            <div class="row">
              <div class="col-md-12 col-12 mb-20">
                <label>Họ và tên</label>
                <input id="register-fullname" name="fullname" class="mb-0" type="text" placeholder="Họ và tên">
              </div>
              <div class="col-md-12 mb-20">
                <label>Địa chỉ Email*</label>
                <input id="register-email" name="email" class="mb-0" type="email" placeholder="Địa chỉ Email">
              </div>
              <div class="col-md-12 mb-20">
                <label>Số điện thoại</label>
                <input id="register-phone" name="phone" class="mb-0" type="text" placeholder="Số điện thoại">
              </div>
              <div class="col-md-6 mb-20">
                <label>Mật khẩu</label>
                <input id="register-password" name="password" class="mb-0" type="password" placeholder="Mật khẩu">
              </div>
              <div class="col-md-6 mb-20">
                <label>Xác nhận mật khẩu</label>
                <input id="register-confirm-password" name="confirm-password" class="mb-0" type="password"
                  placeholder="Xác nhận mật khẩu">
              </div>
              {{#if error}}
              <div class="col-md-12">
                <p class="text-danger font-italic">{{error}}</p>
              </div>
              {{/if}}
              <div class="col-12">
                <button id="register-submit" class="register-button mt-0">Đăng ký</button>
              </div>
              <div class="col-12 text-muted pt-3">
                <span>Đã có tài khoản? </span><a href="/login">Đăng nhập</a>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- Login Content Area End Here -->